-e git+https://github.com/aertslab/arboreto.git@79f916b0ea25c00989331b8db243826049c3d66c#egg=arboreto
pandas==1.5.0
statsmodels==0.13.5
networkx==3.0
matplotlib>=3.5.2
plotly>=5.22.0
scanpy==1.9.2
scipy==1.10.1
pandas==1.5.0
numpy==1.23.3

